.App {
  text-align: center;
}

.App:hover {
  background: #ff7b29;
}

.top {
  background:;
  text-align: center;
  padding: 20px;
}

.notFound{
  text-align: center;
  font-size:4rem;
}

.header {
  color: ;
  text-align: center;
}

.tagline {
  text-align: center;
}

.order {
  text-align: center;
  padding: 20px;
  color:white;
}

.inventory {
  text-align: center;
  padding: 20px;
}

.orderHeader {
  text-align: center;
}
.time {
  font-size:1.4em;

}
.storeSelector {
  padding:30px;
  width: 70%;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background: ;
  border: 1px solid black;
}
